/* section 2 ervices and embbedings */

.services-embeddins{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(20rem,1fr));
    grid-template-rows: auto;
    gap: 1rem;
    /* background-color: rebeccapurple; */
    width: 100%;
}

.no_hay_servicios{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

/* new add services  */

.add-new-service{
    background: rgb(255, 255, 255);
    min-height: 92px;
    display: flex;
    justify-content: center;
}

.add-new-service:hover{
    background: rgb(179, 252, 241);
}

.icon-content svg{
    /* background:rebeccapurple; */
    width: 70px;
    height: 70px;
}
/* ---------------- */